@import '_colors';

* {
    vertical-align: baseline;
    font-weight: inherit;
    font-family: inherit;
    font-style: inherit;
    font-size: 100%;
    border: 0 none;
    outline: 0;
    padding: 0;
    margin: 0;
}

html {
    background-color: $ff_purple;
    color: $ff_white;
    font-family: 'Hack', 'Fantasque Sans Mono', monospace;
    font-style: normal;
    font-weight: normal;
}

html,
body {
    height: 100%;
    width: 100%;
}

.container {
    display: flex;
    flex-flow: row wrap;
    flex-wrap: wrap-reverse;
    justify-content: space-evenly;
}

.container > * {
    flex: 1 100%;
}

@media all and (min-width: 600px) {
    .side { flex: 1 auto; }
}

@media all and (min-width: 800px) {
    .main { flex: 3 0px; }
    .side { order: 1; }
    .main { order: 2; }
}

.side {
    padding: 1rem;

    h1 {
        font-size: inherit;
    }
    .nav {
        ul {
            list-style: none;
            margin: 0;
            padding: 0;

            li {
                line-height: 1.2;
                margin: 0 0 1em;
            }
        }
    }
    .post-nav {
        ul {
            margin-top: -0.8em;

            li {
                color: $ff_mint;
                margin-bottom: 0.1em;

                &::before {
                    content: "├─";
                }
            }
        }
        a {
            margin-left: 0.5em;
            text-decoration: none;
        }
    }
}

.main {
    flex-basis: 75%;
    padding: 1rem;
    max-width: 90%;
}

h1,
h2,
h3,
h4,
h5,
h6, 
p,
pre,
blockquote,
form,
ul,
ol,
dl {
    margin: 1em 0;
}

li,
dd,
blockquote {
    margin-left: 2em;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

a,
a:visited {
    border-bottom: 1px dashed;
    color: $ff_mint;
    font-style: normal;
    font-weight: 400;
    text-decoration: none;
}
a:hover,
a:focus {
    border-bottom-style: solid;
    color: $ff_yellow;
    outline: 1px solid;
    outline-offset: .25em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 1rem;
    font-style: normal;
    font-weight: bold;
    margin-top: 2em;
    text-decoration: underline;
}

h1::before { content: "# "; }
h2::before { content: "## "; }
h3::before { content: "### "; }
h4::before { content: "#### "; }
h5::before { content: "##### "; }
h6::before { content: "###### "; }

p, table {
    margin-top: 0;
    max-width: 58em;
}

.no-bullets {
    list-style: none;
}

.inline-list {
    display: flex;
    flex-flow: row wrap;
    align-content: center;
    justify-content: space-between;

    li {
        margin: 0;
    }
}

.post-details {
    margin-bottom: 1em;
    max-width: 58em;

    time {
        display: block;
        padding-top: 1em;
    }
}

.post-content figure img {
    height: auto;
    max-width: 58em;
    width: 100%;
}

.post-content {
    .highlight {
        border: 1px solid $ff_lilac;
        margin-bottom: 1em;
    }
    p code {
        background: $ff_lilac;
        color: $ff_purple;
        display: inline-block;
        padding: 0.125rem 0.3rem;
    }
    pre,
    .highlight pre {
        max-width: 58em;
        overflow-x: auto;
        padding: 1rem;
        code {
            background: transparent;
            padding: 0;
        }
    }
}

.lnt {
    display: block;
}

.tlite {
  background: $ff_lightyellow;
  color: $ff_purple;
  font-size: 1rem;
  font-weight: normal;
  text-decoration: none;
  text-align: left;
  padding: 0.35em;
  position: absolute;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.4s;
  white-space: nowrap;
  z-index: 1000;
  -webkit-backface-visibility: hidden;
}

.tlite-table td,
.tlite-table th {
  position: relative;
}

.tlite-visible {
  visibility: visible;
  opacity: 1;
}

.spoiler {
    background: $ff_lightyellow;
    color: $ff_purple;
    margin-bottom: 1em;
    max-width: 58em;

    header {
        background: repeating-linear-gradient(
            45deg,
            $ff_darkyellow,
            $ff_darkyellow 30px,
            $ff_yellow 30px,
            $ff_yellow 60px
        );
        color: $ff_purple;
        cursor: pointer;
        font-weight: bold;
        padding: 0.5rem 0;
        text-align: center;
    }

    main {
        padding: 1rem;

        &.hidden { display: none; }
    }
}