@import '_colors';

/* Background */

.chroma {
    color: $ff_white;
    background-color: $ff_purple;
}

.highlight .chroma pre { padding: 0; }

/* LineHighlight */

.chroma .hl {
    background-color: $ff_purple;
    display: block;
}

/* LineNumbers */
.chroma .lnt {
    color: $ff_lilac;
    margin-right: 0.4em;
    padding: 0 0.4em 0 0.4em;
}

.chroma {
    /* Keyword */
    .k, .kc, .kd, .kn, .kp, .kr, .kt, .o { color: $ff_pink; }

    /* Function name */
    .nf, .nc {
        color: $ff_yellow;
        text-decoration: underline;
    }

    /* Superclasses */
    .nc + .p + .n {
        color: $ff_yellow;
        font-style: italic;
        text-decoration: underline;
    }

    /* Comment */
    .c, .cm, .cp, .c1, .cs, .ch { color: $ff_darkyellow; }

    .s1 { color: $ff_darkyellow; }

    .mi, .se { color: $ff_lilac; }
}