<footer>
    <p><a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-nc-sa/4.0/80x15.png" /></a> Kenneth Love.</p>
    <ul class="no-bullets">
        <li><a href="#"><i class="fa fa-twitter-square" aria-hidden="true"></i></a></li>
        <li><a href="#"><i class="fa fa-github-square" aria-hidden="true"></i></a></li>
        <li><a href="#"><i class="fa fa-youtube-square" aria-hidden="true"></i></a></li>
    </ul>
</footer>
