:root {
  --ff-purple: #5a5475;
  --ff-darkyellow: #e6c000;
  --ff-lightyellow: #ffffcc;
  --ff-white: #f8f8f2;
  --ff-pink: #ffb8d1;
  --ff-red: #951117;
  --ff-green: #508c1c;
  --ff-dustyrose: #a8757b;
  --ff-violet: #625c7b;
  --ff-brightpink: #f92672;
  --ff-lilac: #c5a3ff;
  --ff-yellow: #ffea00;
  --ff-mint: #c2ffdf;
}
