/* Colors */

$ff_purple: #5a5475;
$ff_darkyellow: #e6c000;
$ff_lightyellow: #ffffcc;
$ff_white: #f8f8f2;
$ff_pink: #ffb8d1;
$ff_red: #951117;
$ff_green: #508c1c;
$ff_dustyrose: #a8757b;
$ff_violet: #625c7b;
$ff_brightpink: #f92672;
$ff_lilac: #c5a3ff;
$ff_yellow: #ffea00;
$ff_mint: #c2ffdf;