@import 'colors';
@import 'syntax';

* {
    border: 0 none;
    font-weight: inherit;
    font-family: inherit;
    font-style: inherit;
    font-size: 100%;
    margin: 0;
    outline: 0;
    padding: 0;
    vertical-align: baseline;
}

html {
    background-color: $ff_purple;
    color: $ff_white;
    font-family: 'Hack', 'Fantasque Sans Mono', monospace;
    font-style: normal;
    font-weight: normal;
}

html,
body {
    height: 100%;
    width: 100%;
}

.container {
    display: grid;
    gap: 0.5rem;
}

.container>* {
    // flex: 1 100%;
}

@media all and (min-width: 960px) {
    .container {
        grid-template-columns: repeat(8, 1fr);
    }

    .side {
        grid-column-start: 1;
        grid-column-end: 3;
    }

    .main {
        grid-column-start: 3;
        grid-column-end: 8;
    }
}

@media screen and (min-width: 1100px) {
    .container {
        grid-template-columns: 1fr 2fr;
    }

    .side {
        grid-column-start: 1;
        grid-column-end: 2;
    }

    .main {
        grid-column-start: 2;
        grid-column-end: 3;
    }

}

@media screen and (min-width: 1400px) {
    .container {
        grid-template-columns: repeat(6, 1fr);
    }

    .side {
        grid-column-start: 2;
        grid-column-end: 3;
    }

    .main {
        grid-column-start: 3;
        grid-column-end: 6;
    }
}

@media all and (max-width: 960px) {
    .container {
        grid-template-columns: 1fr;
    }

    .side {
        grid-row-start: 2;
        grid-row-end: 3;
    }

    .main {
        grid-row-start: 1;
        grid-row-end: 2;
        grid-column-start: 1;
        grid-column-end: 2;
        padding-left: 1rem;
    }
}

.side {
    padding-left: 1rem;


    h1 {
        font-size: inherit;
    }

    .nav {
        ul {
            list-style: none;
            margin: 0;
            padding: 0;

            li {
                line-height: 1.2;
                margin: 0 0 1em;
            }
        }
    }

    .post-nav {
        ul {
            margin-top: -0.6em;

            li {
                color: $ff_mint;
                margin-bottom: 0.3em;
                margin-left: 0.5em;

                &::before {
                    content: "├─";
                }
            }
        }

        a {
            margin-left: 0.5em;
            text-decoration: none;
        }
    }
}

.main {
    padding-right: 1rem;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
pre,
blockquote,
form,
ul,
ol,
dl {
    margin: 1em 0;
}

li,
dd,
blockquote {
    margin-left: 2em;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 1rem;
    font-style: normal;
    font-weight: bold;
    margin-top: 2em;
    text-decoration: underline;
}

h1::before {
    content: "# ";
}

h2::before {
    content: "## ";
}

h3::before {
    content: "### ";
}

h4::before {
    content: "#### ";
}

h5::before {
    content: "##### ";
}

h6::before {
    content: "###### ";
}

blockquote,
p,
table {
    margin-top: 0;
    max-width: 80vw;
}

blockquote,
p,
li {
    line-height: 1.5;
}

@media screen and (max-width: 960px) {

    blockquote,
    p,
    table {
        max-width: 95vw;
    }
}

blockquote {
    background-color: #625c7b;
    margin-left: 0;
    padding: 1rem;
    padding-left: 3rem;
    max-width: 55rem;

    cite {
        display: block;
    }
}

table {
    border-collapse: separate;

    th {
        border-bottom: 2px solid $ff_lightyellow;
        padding-bottom: 0.5rem;
        font-weight: bold;
        letter-spacing: 0.1rem;
    }

    td {
        background-color: $ff_violet;
        padding: 0.5rem;

        em {
            color: $ff_pink;
            font-style: italic;
            font-weight: normal;
        }
    }

    tbody tr:first-child td {
        font-weight: bold;
        text-align: center;
    }
}

a,
a:visited {
    border-bottom: 1px dashed;
    color: $ff_mint;
    font-style: normal;
    font-weight: 400;
    text-decoration: none;
}

a:hover,
a:focus {
    border-bottom-style: solid;
    color: $ff_yellow;
    outline: 1px solid;
    outline-offset: .25em;
}

em {
    color: $ff_yellow;
    font-style: italic;
}

strong {
    color: $ff_mint;
    font-weight: bold;
}

.no-bullets {
    list-style: none;
}

.inline-list {
    display: flex;
    flex-flow: row wrap;
    align-content: center;
    justify-content: space-between;

    li {
        margin: 0;
    }
}

.post-details {
    border-bottom: 1px solid $ff_darkyellow;
    margin-bottom: 1rem;
    max-width: 70vw;

    ul {
        max-width: fit-content;

        li {
            margin-right: 1rem;
        }
    }

    time {
        display: block;
        padding-top: 1rem;
    }
}

.post-content {
    .highlight {
        border: 1px solid $ff_lilac;
        margin-bottom: 1em;
    }

    figure img {
        height: auto;
        max-width: 50vw;
        width: 100%;
    }

    p {
        max-width: 70vw;
    }

    p code {
        background: $ff_lilac;
        color: $ff_purple;
        display: inline-block;
        padding: 0.125rem 0.3rem;
    }

    pre,
    .highlight pre {
        max-width: 58em;
        overflow-x: auto;
        padding: 1rem;

        code {
            background: transparent;
            padding: 0;
        }
    }
}

.lnt {
    display: block;
}

.tlite {
    background: $ff_lightyellow;
    color: $ff_purple;
    font-size: 1rem;
    font-weight: normal;
    text-decoration: none;
    text-align: left;
    padding: 0.35em;
    position: absolute;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.4s;
    white-space: nowrap;
    z-index: 1000;
}

.tlite-table td,
.tlite-table th {
    position: relative;
}

.tlite-visible {
    visibility: visible;
    opacity: 1;
}

.spoiler {
    background: $ff_lightyellow;
    color: $ff_purple;
    margin-bottom: 1em;
    max-width: 58em;

    header {
        background: repeating-linear-gradient(45deg,
                $ff_darkyellow,
                $ff_darkyellow 30px,
                $ff_yellow 30px,
                $ff_yellow 60px);
        color: $ff_purple;
        cursor: pointer;
        font-weight: bold;
        padding: 0.5rem 0;
        text-align: center;
    }

    main {
        padding: 1rem;

        &.hidden {
            display: none;
        }
    }
}

#post-list {
  article {
    margin-bottom: 1em;

    p {
      margin-bottom: 0;
      
      &.date {
        color: $ff_pink;
      }
    }
  }
}
