.main,
.footer
.header {
  @include clearfix;
}

.main {
/*   @include outer-container; */
}

.header {
  position: relative;
  border-bottom: 1px solid #fff;  
  h1 {
    display: block;
    font-size: 15rem;
    font-family: $heading-font;
    line-height: 0.6;
    margin-left: -1%;
    margin-top: -1%;
    padding-right: 3%;
    position: fixed;
    text-align: center;
    width: 100%;
    z-index: 10;
    @include transform(translateY(0.35rem));
    
    a {
      color: #fff;
      text-decoration: none;
      
      &:hover {
        color: #fff;
      }
    }
  }
  
  .non-title {
    @include clearfix;
    @include pad(8rem 2rem 0);
    padding-bottom: 2rem;
    
    div, nav {
      @include span-columns(2 of 4);
    }
    
    @include media($papa) {
      margin: 0 auto;
      width: 75%;
      
      nav {
        padding-top: 7em;
      }
    }
    
    nav a {
      @include clearfix;
      color: $link-color;
      display: block;
      font-family: $heading-font;
      font-size: 2rem;
      line-height: 1;
      margin-bottom: 1rem;
      text-decoration: none;
      
      i {
        display: inline-block;
        height: 3rem;
        width: 3rem;
        float: left;
        @include transform(translate(-1rem, -1rem));
        
        object {
          height: 100%;
          opacity: 0;
          width: 100%;
          transition: all 0.5s ease-in-out;
        }
      }
      
      &:hover {
        i object {
          opacity: 1;
        }
      }
      
    }
    
    .face {
      background: url('../images/face.svg') center center no-repeat;
      background-size: contain;
      display: inline-block;
      float: right;
      height: 13rem;
      width: 10rem;
    }
    div {
      @include media($papa) {
        padding-top: 5rem;
        position: relative;
      }
      
      h2 {
        color: #fff;
        display: none;
        font-family: $sub-heading-font;
        
        @include media($papa) {
          display: inline-block;
          font-size: 2rem;
          position: absolute;
          top: 50%;
        }
      }
    }
  }
}

main section {
  @include clearfix;
  border-bottom: 1px solid #fff;
  min-height: 500px;
  @include pad(5rem 2rem);
  
  &:last-child {
    border:0;
  }
  
  @include media($papa) {
    @include pad(12rem 2rem);
  }
  
  .pad {
    @include media($papa) {
      margin: 0 auto;
      width: 75%;
    }
  }
  
  h1 {
    @include clearfix;
    color: #fff;
    font-family: $sub-heading-font;
    font-size: 3rem;
    line-height: 1;
    margin-top: 1em;
    
    i {
      display: inline-block;
      height: 4rem;
      width: 4rem;
      float: left;
      @include transform(translate(-0.5rem, -0.75rem));
      
      object {
        height: 100%;
        width: 100%;
      }
    }
  }
    
  h2 {
    font-family: $heading-font;
  }
  
  .joined {
    @include clearfix;
    list-style: none;
    padding: 0;
    
    li {
      float: left;
      margin-right: 0.5em;
      
      &:after {
        content: ', ';
      }
      
      &:last-child {
        &:before {
          content: 'and ';
        }
        &:after {
          content: '.';
        }
      }
    }
  }
  
  &.about {
    background: darken($background-color, 10%);
  }
  
  &.desires {
    background: darken($background-color, 15%);
  }
  
  &.work {
    background: darken($background-color, 20%);
  }
  
  .skills {
    @include clearfix;
    @include shift(1);
    
    ul {
      @include span-columns(1 of 4);
      
    }
  }
}

.footer {
  background: darken($background-color, 20%);
  @include pad(1em);

  p {
    font-size: 0.75em;
    margin: 0;
    text-align: center;
  }
}
