@import "neat-helpers";

// Colors
$background-color: #ff5a23;
$link-color: #f0f0f0;
$link-disabled: #dedede;

// Fonts

$heading-font: "Nexa Slab Light Italic", "Helvetica Neue", Helvetica, Arial, sans-serif;
$sub-heading-font: "Nexa Slab Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
$sans-serif-font: "Helvetica Neue", Helvetica, Arial, sans-serif;
$serif-font: Georgia, Times, "Times New Roman", serif;

// Layout

$l-max-width: em(1088);
$mama: new-breakpoint(max-width 768px 4);
$papa: new-breakpoint(min-width 768px 4);
