<!doctype html>
<html>
<head>
    <title>{{ block "title" . }}{{ .Site.Title  }}{{ end  }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://use.fontawesome.com/e53696054a.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Roboto+Mono:400i,700" rel="stylesheet">
    <link rel="stylesheet" href='{{ "css/kennethlove.css" | absURL }}'>
    {{ if .RSSLink }}
        <link href="{{ .RSSLink }}" rel="alternate" type="application/rss+xml" title="{{ .Site.Title }}" />
        <link href="{{ .RSSLink }}" rel="feed" type="application/rss+xml" title="{{ .Site.Title }}" />
    {{ end }}
</head>
<body class="container">
<h1>Kenneth Love</h1>

{{ partial "menu.html" . }}

{{ block "main" . }}
{{ end }}

{{ partial "footer.html" . }}
</body>
</html>
