<!doctype html>
<html>

<head>
    <title>{{ block "title" . }}{{ .Site.Title }}{{ end }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://use.fontawesome.com/e53696054a.js"></script>
    <link rel='stylesheet' href='//cdn.jsdelivr.net/npm/hack-font/build/web/hack.css'>
    <link rel="stylesheet" href='{{ "dist/kennethlove.css" | absURL }}'>
    <link rel="stylesheet" href='{{ "dist/syntax.css" | absURL }}'>
    <link href="{{ .Site.RSSLink }}" rel="alternate" type="application/rss+xml" title="{{ .Site.Title }}" />
    <link href="{{ .Site.RSSLink }}" rel="feed" type="application/rss+xml" title="{{ .Site.Title }}" />
</head>

<body>
    <div class="container">
        <aside class="side">
            <h1>Kenneth Love</h1>
            {{ partial "menu.html" . }}
        </aside>
        <main class="main">{{ block "main" . }} {{ end }}</main>
    </div>
    <script src='{{ "dist/bundle.js" | absURL }}'></script>
</body>
</html>