{{ define "main" }}
<section class="blog-post">
    <article class="post-content">
        <header>
            <h1 id="title">{{ .Title }}</h1>

            <div class="post-details">
                <time timestamp="{{ .Date }}">Posted on {{ .Date.Format "Mon Jan 2, 2006" }}</time>
                <ul class="no-bullets inline-list">
                    {{ with .Params.tags }}
                    {{ range . }}
                    <li><a href="{{ " tags" | absURL }}/{{ . | urlize }}">{{ . }}</a></li>
                    {{ end}}
                    {{ end }}
                </ul>
            </div>
        </header>
        {{ .Content }}
    </article>
</section>
{{ end }}
