/* Coolors Exported Palette - coolors.co/1a535c-4ecdc4-f7fff7-ff6b6b-ffe66d */

/* RGB */
$darkteal: lighten(rgba(26, 83, 92, 1), 15%);
$teal: rgba(78, 205, 196, 1);
$offwhite: rgba(247, 255, 247, 1);
$salmon: rgba(255, 107, 107, 1);
$yellow: rgba(255, 230, 109, 1);

* {
    vertical-align: baseline;
    font-weight: inherit;
    font-family: inherit;
    font-style: inherit;
    font-size: 100%;
    border: 0 none;
    outline: 0;
    padding: 0;
    margin: 0;
}

body {
    margin-left: 2rem;
    padding: 5px;
}

h1, h2, h3, h4, h5, h6, p, pre, blockquote, form, ul, ol, dl {
    margin: 20px 0;
}

li, dd, blockquote {
    margin-left: 40px;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

html {
    background: $offwhite;
    color: $darkteal;
    font-family: 'Roboto Mono', monospace;
    font-style: italic;
    font-weight: 400;
}

a, a:visited {
    color: $salmon;
    font-style: normal;
    font-weight: 400;
}

h1, h2, h3, h4, h5, h6 {
    font-style: normal;
    font-weight: 700;
}

h1 {
    font-size: 2rem;

    a, a:visited, a:hover, a:active {
        color: $darkteal;
    }
}

h2 {
    font-size: 1.7rem;
}

p {
    margin-top: 0;
    width: 50%;
}

blockquote {
    background: $yellow;
    color: $darkteal;
    margin: 0;
    margin-bottom: 1rem;
    padding: 0.5rem;
    width: 50%;

    p {
        width: 100%;
    }

    cite {
        font-style: normal;
        font-weight: 700;
    }
}

footer {
    border-top: 3px solid lighten($teal, 20%);
    font-style: normal;
    font-weight: 700;
    margin-top: 1rem;
    padding-top: 1rem;
    display: grid;
    grid-template-columns: 75% 25%;

    p {
        line-height: 2rem;
        width: 100%;
    }

    ul {
        margin: 0;
        padding: 0;

        li {
            float: left;
            font-size: 2rem;
            margin-left: 0;
            margin-right: 1rem;
            line-height: 2rem;
        }
    }
}

.no-bullets {
    list-style: none;
}

.blog-post {
    display: grid;
    grid-template-columns: 75% 24%;
}

.post-content p {
    width: 85%;
}

@media screen and (max-width: 1024px) {
    p { width: 95%; }
    blockquote { width: 95%; }
}
